<h1>Adicionar Carro</h1>
<form action="/users/add" method="post">
  <div>
    <input type="text" name="nome" placeholder="Nome:">
    <input type="text" name="modelo" placeholder="Modelo:">
    <input type="text" name="motor" placeholder="Motor:">
    <input type="text" name="ano" placeholder="Ano:"><br>
    <input type="text" name="fab" placeholder="Fab.:">
    <input type="text" name="vlr" placeholder="Vlr.:">
    <input type="text" name="cor" placeholder="Cor:">
    <input type="text" name="opc" placeholder="Opicional:">
<br><br>
    <input type="submit" value="Cadastrar" />
  </div>
</form>

<hr>
